%section.hello
  %article
    %h1
    %p.fade
      My name is
      = link_to "Danilo Quilaton.", "http://www.daniloquilaton.com/", target: "_blank"
      I'm currently working in Jacksonville, FL for Adecco's
      = link_to "innovation lab Ignite,", "http://www.ignitewithus.com/",  target: "_blank"
      as an Experience Designer and UX Developer. At Ignite, I work on two small product teams developing our apps' brand strategies, wireframing user flows, designing comps / prints, and pushing UI components and UX views for our frontend rails apps.
    %p
      In my spare time I cofound, design and build
      = link_to "aptvue", "https://aptvue.com/", target: "_blank"
      with good friends I met while doing the UI and UX at the HR startup
      = link_to "Path.to.", "http://techcrunch.com/2012/04/24/with-1-5m-from-adecco-path-to-wants-to-be-the-eharmony-for-jobs-in-silicon-valley-and-beyond/", target: "_blank"
    %p
      %strong
        But!.....
      I would love to join the Basecamp team. I was inspired in Mig and Javan's workshop at
      = link_to "KYN", "http://jacksonville.aiga.org/event/des-dev-assemble/", target: "_blank"
      and humbled in their talk about how designers and devs work together at Basecamp. And I'm pretty sure I beat Basecamp's shuffleboard champ, Javan, at shuffleboard at the last Brooklyn Beta. I've used your products religiously over the last 8+ years working as a designer, and judging by my little interaction with your team, Basecamp seems like the job I need. When I found your We Work Remotely job post today, I couldn't wait to spin up a
      = link_to "Middleman app", "https://github.com/daniloq/hire-me", target: "_blank"
      and knock out a quick page to send ya'lls way.
    %p
      I think I'm a great fit for your work environment because I worked in similar set ups in a Senior role for the past
      =link_to "6 years.", "https://www.dropbox.com/s/e1mdvuqecn68cgo/daniloquilaton.pdf?dl=0", target: "_blank"
      I'm a passionate scholar of product development, and the two things any of my references would say about me is
      %strong I'm easy to work with and a work horse.
      I like to get things thought out, done right, and delivered on-time with constancy and quality.
    %p
      I think Chicago is a beautiful city, but I would love the opportunity to give Jacksonville, FL just a little bit more app cred by representing Basecamp. P.S. I've been a die hard
      = link_to "Bulls", "/images/go-bulls.jpg", class: "tooltip", title: "Go Bulls!"
      fan since I was 5 years old.

  %footer
    Respectively,
    %span
      Danilo K. Quilaton, Jr.

:javascript
  $(document).ready(function() {
    $('.tooltip').tooltipster({
      content: $('<img src="/images/go-bulls.jpg" />')
    });
    $("p, footer").hide(0).delay(3000).fadeIn(1000);
  });
  $('h1').typeTo("Dear Mig and Basecamp,");
